.center-contenter {
  margin: 0 auto;
}
.center-text {
  text-align: center;
}
.v-align {
  vertical-align: middle;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.block {
  display: block;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.absolute-0000 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.v-align-transform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.h-align-transform {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.list-style-none {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
.font-20 {
  font-size: 16px;
}
@media only screen and (min-width: 992px) {
  .font-20 {
    font-size: 20px;
  }
}
.font-40 {
  font-size: 20px;
}
@media only screen and (min-width: 992px) {
  .font-40 {
    font-size: 40px;
  }
}
.basic-transition {
  transition: all 0.3s ease-in-out;
}
.upper {
  text-transform: uppercase;
}
.padding-50 {
  padding: 50px 0px 50px 0px;
}
@media only screen and (min-width: 992px) {
  .padding-50 {
    padding: 50px;
  }
}
.padding-bottom-30 {
  padding-bottom: 30px;
}
.padding-left-40 {
  padding-left: 40px;
}
.padding-right-40 {
  padding-right: 40px;
}
.padding-left-30 {
  padding-left: 30px;
}
.padding-right-30 {
  padding-right: 30px;
}
.padding-left-50 {
  padding-left: 50px;
}
.padding-right-50 {
  padding-right: 50px;
}
.padding-60 {
  padding: 60px 0px 60px 0px;
}
@media only screen and (min-width: 992px) {
  .padding-60 {
    padding: 60px;
  }
}
.padding-100 {
  padding: 100px;
}
.padding-bottom-60 {
  padding-bottom: 60px;
}
.padding-bottom-50 {
  padding-bottom: 50px;
}
.padding-top-50 {
  padding-top: 50px;
}
.padding-top-100 {
  padding-top: 100px;
}
.padding-bottom-100 {
  padding-bottom: 100px;
}
.filter-dark {
  filter: brightness(60%);
}
.font-18 {
  font-size: 18px;
}
.pointer {
  cursor: pointer;
}
.opacity1 {
  opacity: 1;
}
.opacity0 {
  opacity: 0;
}
.nowrap-text {
  white-space: nowrap;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Barlow', sans-serif;
}
html,
body {
  overflow-x: hidden;
}
body {
  max-width: 1920px;
  margin: 0 auto;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
h2 {
  font-size: 35px!important;
}
@media only screen and (min-width: 992px) {
  h2 {
    font-size: 48px!important;
  }
}
p {
  font-size: 16px;
}
.wp-block-columns {
  margin-bottom: 0px;
}
button:active,
button:focus {
  outline: 0px!important;
}
button.next,
button.prev,
button.next:active,
button.prev:focus {
  border: 0px!important;
  outline: 0px!important;
  background-color: transparent!important;
}
.pagintaion-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 60px 0px 120px 0px;
}
.pagintaion-content {
  display: flex;
  align-items: baseline;
  width: 154px;
}
.page-numbers:last-child,
.page-numbers:first-child {
  position: relative;
  display: block;
}
.page-numbers:last-child:before,
.page-numbers:first-child:after {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
}
.page-numbers,
.page-numbers:hover,
.page-numbers:focus {
  text-decoration: none;
}
.page-numbers {
  font-size: 18px;
  padding: 0px 15px;
  color: #99D096;
}
.page-numbers:hover,
.page-numbers:focus {
  color: #99D096;
}
.current {
  font-size: 22px;
  height: 5px;
}
.next,
.prev,
.next:focus,
.prev:focus,
.next:hover,
.prev:hover {
  width: 0px;
  padding: 0px;
  color: white;
  text-decoration: none;
  z-index: 99999;
}
.text-dark a {
  color: #0F1F0E;
}
.mobile-none {
  display: none;
}
@media only screen and (min-width: 992px) {
  .mobile-none {
    display: block;
  }
}
.desktop-none {
  display: block;
}
@media only screen and (min-width: 992px) {
  .desktop-none {
    display: none;
  }
}
.wp-block-columns:where(.has-background) {
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.has-black-color p a {
  color: black;
}
.has-black-color p a:hover {
  color: black;
}
a:hover {
  text-decoration: none;
}
figure a img {
  max-height: 300px;
}
